name: Build and test

on:
  pull_request:
    types:
      - opened
      - synchronize
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        task:
          - rubocop
          - rdoc
    timeout-minutes: 5
    name: "Execute ${{ matrix.task }}"
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd
        with:
          bundler-cache: true
      - run: bundle exec rake ${{ matrix.task }}

  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix: # Use as the parameter injection
        java-version:
          - 11
        buildtools-version:
          - 35.0.1
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd
        with:
          bundler-cache: true
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654
        with:
          distribution: 'corretto'
          java-version: ${{ matrix.java-version }}
      - uses: ./.github/actions/setup-buildtools
        with:
          buildtools-version: ${{ matrix.buildtools-version }}
      - run: bundle exec rake specs
