name: Build and test

on:
  pull_request:
    types:
      - opened
      - synchronize
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        task:
          - rubocop
          - rdoc
    timeout-minutes: 5
    name: "Execute ${{ matrix.task }}"
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: ruby/setup-ruby@4c24fa5ec04b2e79eb40571b1cee2a0d2b705771
        with:
          bundler-cache: true
      - run: bundle exec rake ${{ matrix.task }}

  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix: # Use as the parameter injection
        java-version:
          - 11
        buildtools-version:
          - 35.0.1
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: ruby/setup-ruby@4c24fa5ec04b2e79eb40571b1cee2a0d2b705771
        with:
          bundler-cache: true
      - uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00
        with:
          distribution: 'corretto'
          java-version: ${{ matrix.java-version }}
      - uses: ./.github/actions/setup-buildtools
        with:
          buildtools-version: ${{ matrix.buildtools-version }}
      - run: bundle exec rake specs
